@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="align-left">
    <br/>
    <h3>Users from service:</h3>
    <br/>
    <ul>
        @{
            if(Model.Users != null)
            {
                foreach (var user in Model.Users)
                {
                    <li>
                        <h4>@user.Id</h4>
                        <p>First Name: @user.FirstName</p>
                        <p>Last Name: @user.LastName</p>
                    </li>
                }
            }
        }
    </ul>
</div>

<div class="align-left">
    <br/>
    <h3>Categories from service:</h3>
    <br/>
    <ul>
        @{
            if(Model.Categories != null)
            {
                foreach (var category in Model.Categories)
                {
                    <li>
                        <h4>@category.Id</h4>
                        <p>Name: @category.Name</p>
                        <p>Description: @category.Description</p>
                    </li>
                }
            }
        }
    </ul>
</div>

<div class="align-left">
    <br/>
    <h3>Jobs from service:</h3>
    <br/>
    <ul>
        @{
            if(Model.Jobs != null)
            {
                foreach (var job in Model.Jobs)
                {
                    <li>
                        <h4>@job.Id</h4>
                        <p>Name: @job.Title</p>
                        <p>Description: @job.Description</p>
                    </li>
                }
            }
        }
    </ul>
</div>

<div class="align-left">
    <br/>
    <h3>Offers from service:</h3>
    <br/>
    <ul>
        @{
            if(Model.Offers != null)
            {
                foreach (var offer in Model.Offers)
                {
                    <li>
                        <h4>@offer.Id</h4>
                        <p>Job ID: @offer.JobId</p>
                        <p>Provider ID: @offer.ProviderId</p>
                        <p>Previous Offer ID: @(offer.PreviousOfferId?.ToString() ?? "No previous offer")</p>
                        <p>Price: @offer.Price</p>
                        <p>Duration: @offer.Duration</p>
                        <p>Date: @offer.Date</p>
                    </li>
                }
            }
        }
    </ul>
</div>

<div class="align-left">
    <br/>
    <h3>Contracts from service:</h3>
    <br/>
    <ul>
        @{
            if(Model.Contracts != null)
            {
                foreach (var contract in Model.Contracts)
                {
                    <li>
                        <h4>@contract.Id</h4>
                        <p>Job ID: @contract.JobId</p>
                        <p>Offer ID: @contract.OfferId</p>
                        <p>Client ID: @contract.ClientId</p>
                        <p>Provider ID: @contract.ProviderId</p>
                        <p>Creation date: @contract.CreationDate</p>
                        <p>Previous Offer ID: @(contract.ClosedDate?.ToString() ?? "No previous offer")</p>
                        <p>State: @contract.ContractState</p>
                    </li>
                }
            }
        }
    </ul>
</div>