@page
@model ListJobsModel

@{
    ViewData["Title"] = "Available Tasks";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="text-center card bg-light pt-2 mb-5">
    <div class="row">
        <h5 class="card-title">Filters</h5>
    </div>
    <div class="row card-body pt-2">
        <div class="col">
            <select asp-for="Filter.CategoryId" asp-items="Model.Categories" class="form-select form-select-lg">
                <option value="default">Select A Category</option>
            </select>
        </div>
        <div class="col">
            <input asp-for="Filter.StartDate" class="form-control">
        </div>
        <div class="col">
            <input asp-for="Filter.EndDate" class="form-control">
        </div>
        <div class="col">
            <input asp-for="Filter.Zip" class="form-control" placeholder="Postal code">
        </div>
        <div class="col">
            <input asp-for="Filter.SearchQuery" class="form-control" placeholder="Search">
        </div>
    </div>
</div>

<div class="text-center">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        @{
            foreach (var job in Model.Jobs)
            {
                <div class="col col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="h-100"><img src="@Model.Clients.First(user => user.Id == job.ClientId).ProfilePicture" alt="Task owner" class="profile-picture job-card-img" width="150" height="150">
                        <div class="card job-card">
                            <div class="card-body">
                                <h5 class="card-title">@job.Title</h5>
                                <p class="card-text">@job.Description</p>
                            </div>
                            <a asp-page="/ViewTask" asp-route-jobId="@job.Id">See Task</a>
                            <a asp-page="/CreateOffer" asp-route-jobId="@job.Id" class="btn btn-success mb-3 mx-auto">Create Offer</a>
                            <div class="card-footer">
                                <small class="text-muted">Deadline: @job.Deadline</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>