@page
@model ListJobsModel

@{
    ViewData["Title"] = "Available Tasks";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="text-center card bg-light pt-2 mb-5">
    <div class="row">
        <h5 class="card-title">Filters</h5>
    </div>
    <form method="post">
        <div class="row card-body pt-2">
            <div class="col col-12 col-md-4 col-xl-2 mb-3">
                <select asp-for="CustomFilter.CategoryId" asp-items="Model.Categories" class="form-select">
                    <option value="default">Select A Category</option>
                </select>
            </div>
            <div class="col col-12 col-md-4 col-xl-3 mb-3">
                <input type="date" asp-for="CustomFilter.StartDate" class="form-control" >
            </div>
            <div class="col col-12 col-md-4 col-xl-3 mb-3">
                <input type="date" asp-for="CustomFilter.EndDate" class="form-control">
            </div>
            <div class="col col-12 col-md-4 col-xl-2 mb-3">
                <input asp-for="CustomFilter.Zip" class="form-control" placeholder="Postal code">
            </div>
            <div class="col col-12 col-md-4 col-xl-2 mb-3">
                <input asp-for="CustomFilter.SearchQuery" class="form-control" placeholder="Search">
            </div>
            <div class="col col-12 col-md-4 col-xl-12 mb-3">
                <button type="submit" class="btn btn-primary form-btn">Search</button>
            </div>
        </div>
    </form>
</div>

<div class="text-center">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        @if (Model.Jobs.Any())
        {
            foreach (var job in Model.Jobs)
            {
                <div class="col col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="h-100">
                        <img src="@Model.Clients.First(user => user.Id == job.ClientId).ProfilePicture" alt="Task owner" class="profile-picture job-card-img" width="150" height="150">
                        <div class="card job-card">
                            <div class="card-body">
                                <h5 class="card-title">@job.Title</h5>
                                <p class="card-text">@job.Description</p>
                            </div>
                            <a asp-page="/ViewTask" asp-route-jobId="@job.Id">View Task</a>
                            <a asp-page="/CreateOffer" asp-route-jobId="@job.Id" class="btn btn-success mb-3 mx-auto">Create Offer</a>
                            <div class="card-footer">
                                <small class="text-muted">Deadline: @job.Deadline</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div role="alert" class="alert alert-secondary form-control">
                No jobs match the chosen filter.
            </div>
        }
    </div>
</div>