@page
@using ClassLibrary.Classes
@model ViewUserModel

@{
    ViewData["Title"] = Model;
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <ul id="myTab" role="tablist" class="nav nav-tabs rows-cols-3 user-tabs fs-5">
        <li role="presentation" class="nav-item mx-auto">
            <button id="jobs-tab" class="nav-link active" data-bs-toggle="tab" data-bs-target="#jobs" type="button" role="tab" aria-controls="jobs" aria-selected="true">Jobs</button>
        </li>
        <li role="presentation" class="nav-item mx-auto">
            <button id="reviews-tab" class="nav-link" data-bs-toggle="tab" data-bs-target="#reviews" type="button" role="tab" aria-controls="reviews" aria-selected="false">Reviews</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade container active show" id="jobs" role="tabpanel" aria-labelledby="jobs-tab">
            <!-- IF ME -->
            
            <!-- ELSE -->
            <div class="row mt-2">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">TO-DO</div>
                        <div class="card-body">
                            @foreach (var job in Model.Jobs)
                            {
                                <div class="card border-warning text-center mt-2">
                                    <div class="card-header">
                                        @job.Title
                                    </div>
                                    <div class="card-body text-warning">
                                        <p class="card-text">@job.Description</p>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">Deadline: @job.Deadline</small>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">IN PROGRESS</div>
                        <div class="card-body">
                            @foreach (var contract in Model.OpenContracts)
                            {
                                <div class="card border-primary text-center mt-2">
                                    <div class="card-header">
                                        NAME GOES HERE - @contract.Id
                                    </div>
                                    <div class="card-body text-primary">
                                        <p class="card-text">DESCRIPTION GOES HERE - @contract.Id</p>
                                        <div><small class="text-muted">Price: PRICE GOES HERE - @contract.Id</small></div>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">Deadline: DEADLINE GOES HERE - @contract.Id</small>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">COMPLETED</div>
                        <div class="card-body">
                            @foreach (var contract in Model.ClosedContracts)
                            {
                                <div class="card @Html.Raw(contract.ContractState == State.Cancelled ? "border-danger" : "border-success") text-center mt-2">
                                    <div class="card-header">
                                        NAME GOES HERE - @contract.Id
                                    </div>
                                    <div class="card-body @Html.Raw(contract.ContractState == State.Cancelled ? "text-danger" : "text-success")">
                                        <p class="card-text">DESCRIPTION GOES HERE - @contract.Id</p>
                                        <div><small class="text-muted">Price: PRICE GOES HERE - @contract.Id</small></div>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">Closing date: @contract.ClosedDate</small>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade container" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
            <div class="row">
                <div class="col-lg-6">
                    <h5 class="display-6">My work</h5>
                    @foreach (var review in Model.ReviewsAsProvider)
                    {
                        <div class="card text-center mt-3">
                            <div class="card-header">
                                Rating: @review.Rating
                            </div>
                            <div class="card-body">
                                <p class="card-text">@review.Comment</p>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-lg-6">
                    <h5 class="display-6">Working for me</h5>
                    @foreach (var review in Model.ReviewsAsClient)
                    {
                        <div class="card text-center mt-3">
                            <div class="card-header">
                                Rating: @review.Rating
                            </div>
                            <div class="card-body">
                                <p class="card-text">@review.Comment</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>