@page
@model ViewJobModel

@{
    ViewData["Title"] = Model.Job.Title;
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>@Model.Job.Description</p>
    <div>
        <small class="text-muted">Deadline: @Model.Job.Deadline</small>
    </div>
    <div>
        <small class="text-muted">Task location: @Model.Job.Location.Zip</small>
    </div>
    <div>
        <small class="text-muted">Category: @Model.Job.Category.Name - @Model.Job.Category.Description</small>
    </div>
</div>

<div class="text-center">
    <h1 class="display-5">Created by</h1>
    <div class="row gx-2">
        <div class="h-100">
            <img src="@Model.Client.ProfilePicture" alt="Task owner" class="profile-picture job-card-img" width="150" height="150">
            <div class="card col col-sm-12 col-md-10 col-lg-8 col-xl-6 job-card mx-auto">
                <div class="card-body">
                    <h5 class="card-title">@Model.Client.FullName</h5>
                </div>
                <a asp-page="ViewUser" asp-route-clientId="@Model.Client.Id" class="btn btn-outline-primary mb-3 mx-auto">View Client</a>
            </div>
        </div>
    </div>
</div>

<!-- IF JOB OWNER -->
@if (Model.IsOwner)
{
    <div class="text-center">
        <h1 class="display-5">Offers</h1>
        @if (Model.Offers.Any())
        {
            <div class="text-lg-start">
                @foreach (var offer in Model.Offers)
                {
                    <div class="row gx-2">
                        <div class="card col col-sm-12 col-md-10 col-lg-8 col-xl-6 mx-auto my-3 p-2">
                            <div class="row">
                                <div class="col-md-3 d-flex align-items-center">
                                    <a asp-page="ViewUser" asp-route-clientId="@Model.Clients.First(user => user.Id == offer.ProviderId).Id" class="mx-auto" alt="Go to offer provider">
                                        <img src="@Model.Clients.First(user => user.Id == offer.ProviderId).ProfilePicture" alt="Task owner" class="img-fluid profile-picture mx-auto" width="150" height="150">
                                    </a>
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body">
                                        <h5 class="card-title">@Model.Clients.First(user => user.Id == offer.ProviderId).FullName - @offer.Price DKK</h5>
                                        <div>
                                            <small class="text-muted">Price: @offer.Price DKK</small>
                                        </div>
                                        <div>
                                            <small class="text-muted">Duration: @offer.Duration</small>
                                        </div>
                                        <div>
                                            <small class="text-muted">Date: @offer.Date</small>
                                        </div>
                                        <div>
                                            <small class="text-muted">Offer provider: @Model.Clients.First(user => user.Id == offer.ProviderId).FullName</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row gy-2 mx-auto">
                                    <div class="col-md-4">
                                        <form method="post" asp-page-handler="Accept" asp-route-jobId="@offer.JobId" asp-route-offerId="@offer.Id">
                                            <button type="submit" class="btn btn-success me-2">Accept</button>
                                        </form>
                                    </div>
                                    <div class="col-md-4">
                                        <form method="post" asp-page-handler="Counteroffer" asp-route-jobId="@offer.JobId" asp-route-offerId="@offer.Id">
                                            <button type="submit" class="col btn btn-outline-secondary me-2">Counteroffer (WIP)</button>
                                        </form>
                                    </div>
                                    <div class="col-md-4">
                                        <form method="post" asp-page-handler="Decline" asp-route-jobId="@offer.JobId" asp-route-offerId="@offer.Id">
                                            <button type="submit" class="col btn btn-danger">Decline</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div role="alert" class="alert alert-secondary form-control">
                There are no offers for this job.
            </div>
        }
    </div>
}
else
{
    <div class="text-center">
        <a asp-page="/CreateOffer" asp-route-jobId="@Model.Job.Id" class="btn btn-success my-3 mx-auto">Create Offer</a>
    </div>
}